name: "AMD Ryzen Chipset Update"

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '30 6 * * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          ref: amd-ryzen-chipset

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: bash $GITHUB_WORKSPACE/amd-ryzen-chipset/update_ryzen_chipset.sh "$GITHUB_WORKSPACE/amd-ryzen-chipset"

      - name: Commit changes
        run: |
          git config user.name 'GitHub Action'
          git config user.email 'action@github.com'
          
          if [[ -z $(git status -s) ]]; then
            echo "No changes"
            exit
          fi
          
          gh auth login --with-token <<< ${{ secrets.RYZEN_PAT }}
          
          installScript="$GITHUB_WORKSPACE/amd-ryzen-chipset/tools/chocolateyinstall.ps1"
          newUrl=$(grep '$url =' $installScript | cut -d \' -f 2)
          newVersion=""

          if [[ "$newUrl" == *'.exe'* ]]; then
              newVersion=$(echo $newUrl | sed 's/.*_\(.*\).exe.*/\1/')
          elif [[ "$newUrl" == *'.zip'* ]]; then
              newVersion=$(echo $newUrl | sed 's/.*_\(.*\).zip.*/\1/')
          fi
          
          git commit -am "update ryzen chipset '$newVersion'"
          git push
          
          gh pr create --base master --title "Update AMD Ryzen Chipset $newVersion" --body "Why did we teach sand to think?"
